@import "../../mixins.module.scss";

.moreDiv {
  border-radius: 30px;
  @include x-center-center;
  cursor:pointer;

  img {
    transform: rotate(-90deg);
    width: 10px;
    filter: invert(1);
  }
}
