@import "../../mixins.module.scss";

.mainDiv {
  width: 62.187499999vw;
  height: 45.74074074vh;
  display: grid;
  grid-template-columns: 15.052083333vw auto;

  @include grid-box-style;
  overflow: hidden;

  .fourthLeft {
    background-color: #424242;
    padding-top: 1.944444444444vh;
    padding-left: 1.92708333333vw;

    p {
      margin-bottom: 1.85185185185vh;
    }

    p:nth-child(1) {
      color: #ffd700;
      font-family: "Rajdhani", sans-serif;
      font-size: 1.6666666666vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    p:nth-child(2) {
      color: var(--text-text-invert, #fffdfc);
      font-family: "Rajdhani", sans-serif;
      font-size: 1.458333333vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .darkParas {
      color: rgb(255, 253, 252, 0.5);
      font-family: "Rajdhani", sans-serif;
      font-size: 1.458333333vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      span {
        img {
          width: 0.5679166666vw;
          height: auto;
          position: relative;
          bottom: 0.185185185vh;
        }
        color: #fffdfc;
        opacity: 1;
        text-align: center;
        font-family: "Rajdhani", sans-serif;
        font-size: 0.8333333333vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-left: 3px;
      }
    }

    .passDiv {
      @include x-center-center;
      background: #f40009;
      border-radius: 30px;
      width: 10.7708333333vw;
      height: 4.4259259259vh;
      margin-top: 10px;
      cursor: pointer;

      img {
        height: 1.85185185185vh;
        filter: invert(1);
      }

      p {
        margin-bottom: 0;
        margin-left: 0.765625vw;
        color: var(--text-text-white, #fffdfc);
        font-family: "Rajdhani", sans-serif;
        font-size: 0.818229166666vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .fourthRight {
    background: black;
    max-height: 100%;

    .tableWrapper {
      scrollbar-width: none;
      overflow-y: auto;
      max-height: 40.8vh;
      padding-left: 1.6666666666vw;
      padding-right: 1.466667vw;

      table {
        width: 100%;

        thead {
          .headRow {
            border: none !important;
          }

          th {
            position: sticky;
            top: 0;
            background: black;
            text-align: center;

            // begin
            color: #fffdfc;
            font-family: "Rajdhani", sans-serif;
            font-size: 0.8942708333vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-top: 1.244444vh;

            // end

            &:nth-child(1) {
              text-align: start;
              width: 30px;
            }
          }
        }

        tbody {
          td {
            color: var(--text-text-invert, #fffdfc);
            font-family: "Rajdhani", sans-serif;
            font-size: 0.833333333vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }

    .viewAllPara {
      text-align: center;
      color: #f40009;
      text-align: center;
      font-family: "Rajdhani", sans-serif;
      font-size: 1.041666666666vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-top: 0.955556vh;
      cursor: pointer;
    }
  }
}


