.mainDiv {
  border-bottom: 2px solid grey;
  // height:70px;
  padding: 5px 0;

  .title {
    margin-bottom: 0;
    font-size: 1.6vw;
    font-weight: 700;
  }

  .text {
    margin-bottom: 0;
    color: white;
    font-size: 2vh;
    font-weight: 300;
    display: inline-block;
  }

  .fraction {
    margin-bottom: 0;
    display: inline-block;
    color: white;
    font-size: 2vh;
    font-weight: 750;
    margin-left: 10px;
  }
}
