.mainDiv {
  border-bottom: 2px solid grey;
  // height:70px;
  // padding: 5px 0;
  padding-top: 2.4074074074vh;
  padding-bottom: 2.4074074074vh;
  padding-left: 0.8854166666vw;
  cursor: pointer;

  .title {
    font-family: "Rajdhani", sans-serif;
    font-size: 1.66666666666vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
  }

  .text {
    color: #fffdfc;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.0416666666vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    // color: white;
    // font-size: 2vh;
    // font-weight: 300;
    display: inline-block;
  }

  .fraction {
    color: #fffdfc;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.0416666666vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 10px;
  }

  &:hover {
    background: rgba(255, 215, 0, 0.2);
  }
}
