@import "../../mixins.module.scss";

.mainDiv {
  @include grid-box-style;
  width: 19.89583333333vw;
  height: 45.74074074vh;
  padding-top: 0.92592592592vh;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;

  p {
    margin-bottom: 0;
  }

  .title {
    color: #fffdfc;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.0416666666vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.648148148148vh;
  }

  // selection Div style begins
  .selectionDiv {
    margin-bottom: auto;
    margin-top: 1.2vh;

    p {
      color: var(--text-text-invert, #fffdfc);
      text-align: center;
      font-family: Rajdhani;
      font-style: normal;
      line-height: normal;
    }

    .clickedTitle {
      font-size: 2.59259259259vh;
      font-weight: 700;
      margin-bottom:1.296296296vh;
    }

    .description {
      font-size: 1.388888888vh;
      font-weight: 500;
    }
  }

  // selection Div style ends

  // second Div style begins
  .secondDiv {
    padding-top: 0.83333333333vh;
    border-radius: 30px 30px 0 0;
    background-color: whitesmoke;
    height: 41.759259259vh;
    width: 100%;

    .paraOne {
      color: #333;
      font-family: "Rajdhani", sans-serif;
      font-size: 1.45833333333vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0.4629629629vh;
      margin-left: 1.5625vw;
    }

    .paraTwo {
      color: #333;
      font-family: "Rajdhani", sans-serif;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 1.5625vw;
    }

    // classes for event container begins
    .eventsContainer {
      padding-left: 1.5625vw;
      height: 24.1vh;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .eventsContainerHidden {
      display: none;
    }

    // classes for event container ends

    // arrowBox classes begin

    .arrowBox {
      // margin-bottom: 2.037037037vh;
      @include x-center-center;

      .leftArrow {
        transform: rotate(90deg);
        width: 0.8586979166666vw;
        margin-right: 2.760416666666vw;
        filter: invert(0.5);
        cursor: pointer;
      }

      .rightArrow {
        transform: rotate(-90deg);
        width: 0.8586979166666vw;
        margin-left: 2.760416666666vw;
        filter: invert(0.5);
        cursor: pointer;
      }
    }

    .arrowBoxHidden {
      display: none;
    }

    // arrowBox classes ends

    .calendarDiv {
      border-top: 1px solid grey;
      // padding-top: 1.94444444444vh;
      height: 6.574074074074vh;
      margin-top: 2.037037037vh;
      @include x-center-center;
      cursor: pointer;
      img {
        width: 1.4584375vw;
        margin-right: 0.625vw;
      }

      p {
        color: #f40009;
        text-align: center;
        font-family: "Rajdhani", sans-serif;
        font-size: 1.04166666666vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .secondDivOff {
    height: auto;
    padding-top: 2.5vh;
  }

  // second div style ends

  &:hover {
    background: #f40009;
    cursor: pointer;
  }
}
