@import "../../mixins.module.scss";



.mainDiv {
  p {
    margin-bottom: 0;
  }

  .title {
    text-align: center;
    color: white;
    font-size: 1vw;
    margin-bottom: 0.62vh;
    font-weight: 500;
  }

  .secondDiv {
    padding: 10px;
    border-radius: 30px 30px 0 0;
    background-color: whitesmoke;
    height: 45vh;

    .paraOne {
      font-size: 1.6vw;
      font-weight: 600;
    }

    .paraTwo {
      font-size: 1.3vw;
    }

    .eventsContainer {
      height: 16.1vh;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .arrowBox {
      margin: 18px 0 10px 0;

      @include x-center-center;

      .leftArrow {
        transform: rotate(90deg);
        width: 14px;
        margin-right: 30px;
        filter: invert(0.5);
        cursor: pointer;
      }

      .rightArrow {
        transform: rotate(-90deg);
        width: 14px;
        margin-left: 30px;
        filter: invert(0.5);
        cursor: pointer;
      }
    }

    .calendarDiv {
      border-top: 1px solid grey;
      padding-top: 5px;
      @include x-center-center;
      cursor: pointer;
      img {
        width: 18px;
        margin-right: 2px;
      }

      p {
        font-weight: 600;
        color: red;
        font-size: 17px;
        margin-left: 2px;
      }
    }
  }
}

// for larger screens 
@media (min-width: 1300px) and (orientation: landscape) {
  .mainDiv{
   .secondDiv{
     .eventsContainer{
       height: 24.1vh;
       overflow-y: auto;
     }
   }
  }
 }
