@import "../../mixins.module.scss";

.mainDiv {
  @include grid-box-style;
  width: 19.89583333333vw;
  height: 45.74074074vh;
  padding-top: 0.92592592592vh;
  // border-radius: 30px;

  // border: 2px solid white;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  // height: auto;
  p {
    margin-bottom: 0;
  }

  .title {
    // text-align: center;
    // color: white;
    // font-size: 1vw;
    // margin-bottom: 0.62vh;
    // font-weight: 500;
    color: #fffdfc;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.0416666666vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.648148148148vh;
  }

  .secondDiv {
    padding-top: 0.83333333333vh;
    // padding-left:1.5625vw;
    border-radius: 30px 30px 0 0;
    background-color: whitesmoke;
    height: 41.759259259vh;

    .paraOne {
      color: #333;
      font-family: "Rajdhani", sans-serif;
      font-size: 1.45833333333vw;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 0.4629629629vh;
      margin-left: 1.5625vw;
    }

    .paraTwo {
      color: #333;
      font-family: "Rajdhani", sans-serif;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 1.5625vw;
    }

    .eventsContainer {
      padding-left: 1.5625vw;
      height: 16.1vh;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .arrowBox {
      margin: 18px 0 10px 0;

      @include x-center-center;

      .leftArrow {
        transform: rotate(90deg);
        width: 0.8586979166666vw;
        margin-right: 30px;
        filter: invert(0.5);
        cursor: pointer;
      }

      .rightArrow {
        transform: rotate(-90deg);
        width: 0.8586979166666vw;
        margin-left: 30px;
        filter: invert(0.5);
        cursor: pointer;
      }
    }

    .calendarDiv {
      border-top: 1px solid grey;
      padding-top: 1.94444444444vh;
      @include x-center-center;
      cursor: pointer;
      img {
        width: 1.4584375vw;
        margin-right: 0.625vw;
      }

      p {
        color: #f40009;
        text-align: center;
        font-family: "Rajdhani", sans-serif;
        font-size: 1.04166666666vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        // margin-left: 2px;
      }
    }
  }
}

// for larger screens
@media (min-width: 1300px) and (orientation: landscape) {
  .mainDiv {
    .secondDiv {
      .eventsContainer {
        height: 24.1vh;
        overflow-y: auto;
      }
    }
  }
}
