.mainDiv {
  margin:0.5vh 0 1.5vh 0;
  .date {
    color: red;
    font-size: 23px;
    display: inline-block;
    font-weight: 600;
  }

  .title {
    font-size: 15px;
    display: inline-block;
    margin-left:10px;
  }
}
