@import "../../mixins.module.scss";

.mainContainer {
  height: 78.703703703vh;
  position: relative;
  margin-top: 5.7407407407vh;

  .rowOne {
    display: flex;
    justify-content: space-between;
  }

  .rowTwo {
    padding-top: 3.2407407407vh;
    display: flex;
    justify-content: space-between;
  }
}


