.mainDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid white;
  padding-bottom: 0.7vh;

  p {
    color: white;
    margin-bottom: 0;
    font-size: 3.8vh;
    font-weight: 700;
  }
}

// for larger screens
@media (min-width: 1300px) and (orientation: landscape) {
  .mainDiv {
    p {
      font-size: 3.5vh;
    }
  }
}
