@import "../../mixins.module.scss";

.mainDiv {
  width: 22.08333333333vw;
  height: 29.72222222vh;
  background-color: rgba(0, 0, 0, 0.5);
  @include grid-box-style;
  padding-left: 1.09375vw;
  padding-right: 1.09375vw;
  padding-top: 2.685185185vh;
  overflow: hidden;

  .projectContainer {
    height: 21.4vh;
    overflow-y: auto;
    scrollbar-width: none;

    .newProjectParaDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7.5vh;

      p {
        // margin-top:2.31481481481vh;
        color: var(--text-text-brand, #f40009);
        text-align: center;
        font-family: Rajdhani;
        font-size: 1.0416666666vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
        margin-bottom: 0;
      }
    }
  }

  &:hover {
    border-color: #f40009;
  }
}
