@import "../../mixins.module.scss";

.mainDiv {
  width: 22.08333333333vw;
  height: 29.72222222vh;
  background-color: rgba(0, 0, 0, 0.5);
  @include grid-box-style;
  padding-left:1.09375vw;
  padding-right:1.09375vw;
  padding-top: 2.685185185vh;
  overflow:hidden;


  .projectContainer {
    height: 21.4vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
