@import "../../mixins.module.scss";

.mainDiv {
  position: relative;

  h2,
  h3 {
    font-family: "Barlow", sans-serif;
  }

  h2 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 5.7vh;
    display: inline-block;
  }

  h3 {
    font-size: 4.1vh;
    margin-bottom: 1.4vh;
    display: inline-block;
  }

  .secondDiv {
    display: flex;
    justify-content: space-between;
    align-items: end;

    & img:first-child {
      // width: 9.2vh;
      width: 7.2vh;
    }

    .thirdDiv {
      p {
        font-size: 2.1vh;
        margin-bottom: 2px;
      }

      input {
        // width: 29vw;
        width: 24vw;

        height: 6.6vh;
        border-radius: 100px;
        background: lightgray;
        border: none;
        padding: 10px;

        &::placeholder {
          font-size: 2vh;
        }
      }
    }

    .fourthDiv {
      background-color: red;
      width: 6.7vh;
      height: 6.7vh;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        width: 3.3vh;
        filter: invert(1);
      }
    }
  }
}
