.mainDiv {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 56.770833333vw auto;

  .leftDiv {
    color: red;
    border: 2px solid red;
    margin-bottom: 0;

    padding-left: 10.9375vw;
    padding-top: 13.14814814vh;
    grid-column: 1 / span 2;
  }

  .rightDiv {
    display: none;
  }
}
