.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;

  p {
    margin-bottom: 0;
    color: #fffdfc;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.6666666vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &:nth-child(1) {
      cursor: pointer;
    }
  }

  // p:first-child {
  //   font-family: "Barlow", sans-serif;
  //   font-weight: 600;
  //   font-style: normal;
  //   font-size: 1.8vw;
  // }

  .navRight {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navMap {
      width: 1.588541666vw;
      height: auto;
      filter: invert(1);
      cursor: pointer;
    }

    .inputBox {
      position: relative;

      input {
        margin-left: 2.396875vw;
        margin-right: 00.78125vw;
        border: none;
        width: 22.0833333vw;
        height: 4.1666666vh;
        border-radius: 100px;
        padding-inline: 1.45vw;

        &::placeholder {
          color: var(--text-text-complementary, #b2b2b2);
          font-family: Rajdhani;
          font-size: 1.0416666vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

      img {
        width: 1.02135416vw;
        position: absolute;
        top: 0.7vw;
        right: 1.62vw;
      }
    }

    .ashleyBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 100px;
      background: linear-gradient(rgba(256, 256, 256, 0.14) 100%, transparent);
      padding: 0.37037vh 0.78125vw 0.37037vh 0.3125vw;
      width: 10.520833333vw;
      height: 4.9074074vh;

      position: relative;
      cursor: pointer;

      .ashley {
        width: auto;
        height: 4.166666666vh;
        border-radius: 1.197916666vw;
      }

      p {
        color: #fffdfc;
        font-family: "Rajdhani", sans-serif;
        font-size: 1.0416666vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .downArrow {
        height: 0.8vw;
        width: auto;
        filter: invert(1);
        rotate: 0deg;
        transition: rotate 0.7s ease;
      }

      .upArrow {
        height: 0.8vw;
        width: auto;
        filter: invert(1);
        rotate: 180deg;
        transition: rotate 0.7s ease;
      }
    }

    .profileDiv {
      background: linear-gradient(rgba(256, 256, 256, 0.1) 100%, transparent);
      backdrop-filter: blur(3.4px);
      width: 10.52083333vw;
      position: absolute;
      top: 5.6481481481vh;
      right: 0;
      z-index: 2;
      padding-top: 1.66666666666vh;
      border-radius: 24px;

      p {
        font-family: "Rajdhani", sans-serif;
        margin-left: 1.1458333333vw;
        margin-bottom: 2.037037037vh;
        color: #fffdfc;
        font-size: 1.0416666666vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      button {
        border: none;
        width: 100%;
        border-radius: 100px;
        height: 4.81481481vh;
        margin-top: 0.5555555555vh;
        background-color: #fffdfc;
        p {
          color: #f40009;
          text-align: start;
          margin-bottom: 0;
        }
      }
    }
  }
}
