@import "../../mixins.module.scss";

.mainDiv {
  @include y-start-center;
  height: 100%;
  position: relative;

  .faceDiv {
    margin-bottom: 1vh;
    width: 8vh;
    height: 8vh;
    background-color: red;
    @include x-center-center;
    border-radius: 12px;
    cursor: pointer;

    img {
      width: 5vh;
    }
  }

  .sideIconDiv {
    height: 8.5vh;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hoveredSideIcon {
      background-color: red;
    }

    .ticket {
      width: 4.5vh;
      margin: 2.6vh 0;
      cursor: pointer;
    }
  }

  .bottom {
    margin-top: auto;
    margin-bottom: 20px;
  }
}

.detailedSidebar {
  border:none;
  position: absolute;
  top: 0;
  left: 6.2vw;
  height: 100vh;
  // width: 20vw;
  // @include y-start-center;
  background-color: black;
  padding-top: 15.2px;
  z-index: 2;

  img {
    height: 8vh;
    width: auto;
    margin-bottom: 1.1vh;
  }

  // p {
  //   color: white;
  // }

  .secondSideIconDiv {
    height: 8.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @include x-start-center;

    &.hoveredSideIcon {
      background-color: red;
    }

    p {
      margin-bottom: 0;
      color: white;
      font-size: 1.3vw;
      font-weight: 600;
      cursor:pointer;
    }
  }
}


.redSidebar{
  border: none;
  position: absolute;
  top: 0;
  left: 18.9vw;
  height: 100vh;
  min-width: 15vw;
  background-color: red;
  padding-top: 26.2px;
  z-index: 2;

  .menuDiv{
    p{
      color:white;
      margin-left:2vw;
      font-size: 1.3vw;
      cursor:pointer;
    }
  }



}

@media (min-width: 1300px) and (orientation: landscape){
  .mainDiv{
    margin-bottom:1vh;
    .sideIconDiv{
      width:5vw;
    }
  }

  .detailedSidebar{
    left:6.7vw;
  }

  .redSidebar{
    left:22vw;
  }
}



