@import "../../mixins.module.scss";

.mainDiv {
  @include y-start-center;
  height: 100%;

  .faceDiv {
    margin-bottom: 1vh;
    width: 8vh;
    height: 8vh;
    background-color: red;
    @include x-center-center;
    border-radius: 12px;
    cursor: pointer;

    img {
      width: 5vh;
    }
  }

  .ticket {
    width: 4.5vh;
    margin: 2.6vh 0;
    cursor: pointer;
  }

  .bottom {
    margin-top: auto;
    margin-bottom: 20px;
  }
}
