.wrapperDiv {
  position: relative;

  .mainDiv {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: grid;
    grid-template-columns: 37.03125vw auto;
    height: 82.962962962vh;
    border: 2px solid #fffdff;
    margin-top: 3.98148148vh;
    border-radius: 2.604166666vw;
    overflow: hidden;

    // main left Div begins
    .mainLeftDiv {
      background: #ececec;
      padding-left: 3.2291666666vw;
      padding-top: 4.2592592592vh;
      position: relative;

      // left default content styles begins
      .leftDefaultContent {
        .firstMainPara {
          color: var(--text-text-primary, #333);
          font-family: Rajdhani;
          font-size: 1.4583333333vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 0.462962962vh;
        }

        .secondMainPara {
          color: var(--text-text-primary, #333);
          font-family: Rajdhani;
          font-size: 1.25vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      // left default content styles ends

      // left toggled content style begins

      .leftToggledContent {
        .brandLogo {
          width: 11.40625vw;
        }

        .profileIntroDiv {
          margin-top: 2.925925925vh;
          margin-bottom: 3.2407407407vh;
          display: flex;
          justify-content: start;
          align-items: center;

          img {
            width: 2.9893229166vw;
            height: auto;
            border-radius: 5.2083333333vw;
          }

          p {
            color: var(--text-text-invert, #fffdfc);
            font-family: Rajdhani;
            font-size: 1.32859375vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
            margin-left: 1.0630208333vw;
          }
        }

        .memberPara {
          color: var(--text-text-invert, #fffdfc);
          font-family: Rajdhani;
          font-size: 0.7291666666vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          margin-bottom: 0.5555555555vh;
        }

        .sessionPara {
          color: var(--text-text-invert, #fffdfc);
          font-family: Rajdhani;
          font-size: 1.4583333333vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          margin-bottom:0;
        }

        // selection main div style begins
        .selectionMainDiv {
          position: relative;

          // coaachingSelectionDiv styles begins
          .coachingSelectionDiv {
            width: 14.7916666666vw;
            height: 3.3333333333vh;
            background: #333;
            border-radius: 0.78125vw;
            border: 1px solid #fffdfc;
            margin-top: 1.820370370vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 0.67708333333vw;
            padding-right: 0.78125vw;
            cursor: pointer;

            .selectedCoachingPara {
              color: var(--color-grey-200, #b2b2b2);
              font-family: Rajdhani;
              font-size: 0.729166666vw;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin-bottom: 0;
            }

            .upArrow {
              // margin-left: auto;
              // margin-left: 4.1322916666vw;
              width: 0.625vw;
              height: auto;
              rotate: 180deg;
              transition: rotate 0.7s ease;
              cursor: pointer;
            }

            .downArrow {
              // margin-left: auto;
              // margin-left: 4.1322916666vw;
              width: 0.625vw;
              height: auto;
              rotate: 0deg;
              transition: rotate 0.7s ease;
              cursor: pointer;
            }
          }
          // coachingSelectionDiv styles ends

          // button {
          //   width: 7.760416666vw;
          //   height: 3.4259259259vh;
          //   border-radius: 0.9635416666vw;
          //   border:none;
          //   background: #fffdfc;
          //   color: #f40009;
          //   text-align: center;
          //   font-family: Rajdhani;
          //   font-size: 1.0416666666vw;
          //   font-style: normal;
          //   font-weight: 700;
          //   line-height: normal;
          //   margin-top: 2.4074074074vh;
          //   visibility: hidden;
          // }

          // coachingOptionsDiv style begins
          .coachingOptionsDiv {
            position: absolute;
            top: 100%;
            left: 0.7vw;
            z-index: 3;
            width: 13.4375vw;
            background: #fffdfc;
            padding-left: 0.67708333333vw;
            padding-top: 0.8333333333vh;
            border-radius: 0 0 0.78125vw 0.78125vw;
            border: 1px solid #333;

            p {
              color: var(--text-text-primary, #333);
              font-family: Rajdhani;
              // font-size: 0.7291666666vw;
              font-size: 1.29629629629vh;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-align: start;
              margin-bottom: 0.648148148148vh;
              cursor: pointer;
            }
          }
          // coachingOptionsDiv style ends
        }
        // selection main div style ends

        .timeDiv {
          display: flex;
          align-items: start;
          gap:0.625vw;
          margin-top: 2.407407407vh;

          img {
            width: 1.041666666vw;
            height: auto;
          }

          .rightParaDiv {
            p {
              color: var(--text-text-invert, #fffdfc);
              font-family: Rajdhani;
              font-size: 0.8333333333vw;
              font-style: normal;
              line-height: normal;
            }
            .topPara {
              font-weight: 700;
              margin-bottom:0.7407407407vh;
            }

            .bottomPara {
              font-weight: 500;
              margin-bottom: 0;
            }
          }
        }

        .detailPara {
          color: var(--text-text-invert, #fffdfc);
          font-family: Rajdhani;
          font-size: 1.0416666666vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-top: 2.6851851851vh;
        }

        .descriptionPara {
          color: var(--text-text-invert, #fffdfc);
          font-family: Rajdhani;
          font-size: 0.8333333333vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      // left toggled content style ends

      //   toggler div begins
      .togglerDiv {
        position: absolute;
        top: 0;
        right: 0;
        width: 17.5vw;
        height: 11.0185185185vh;
        padding-top: 4.2592592592vh;
        background-color: #b2b2b2;
        transition: background-color 400ms linear;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 0.74270833333vw;
        cursor: pointer;

        img {
          width: 1.60109375vw;
          height: auto;
          // the dimension could be go wild, will check
        }

        p {
          color: var(--text-text-primary, #333);
          font-family: Rajdhani;
          font-size: 1.4583333333vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 0;
        }

        &:hover {
          background-color: #f40009;
          transition: background-color 400ms linear;

          img {
            filter: invert(1);
          }

          p {
            color: #fffdff;
          }
        }
      }
      //   toggler div ends
    }
    // main left div ends

    // maind left div toggled begins
    .maindLeftDivToggled {
      background: rgba(0, 0, 0, 0.5);
      padding-top: 0;
    }

    // main left Div toggled ends

    // main right div begins
    .mainRightDiv {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    // main right div ends
  }

  .closeIcon {
    cursor: pointer;
    position: absolute;
    width: 2.8125vw;
    height: auto;
    top: -0.5555555555vh;
    right: -0.5208333333vw;
    z-index: 10;
  }
}
