.wrapperDiv {
  position: relative;

  .mainDiv {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: grid;
    grid-template-columns: 37.03125vw auto;
    height: 82.962962962vh;
    border: 2px solid #fffdff;
    margin-top: 3.98148148vh;
    border-radius: 2.604166666vw;
    overflow: hidden;

    // main left Div begins
    .mainLeftDiv {
      background: #ececec;
      padding-left: 3.2291666666vw;
      padding-top: 4.2592592592vh;
      position: relative;

      // left default content styles begins
      .leftDefaultContent {
        .firstMainPara {
          color: var(--text-text-primary, #333);
          font-family: Rajdhani;
          font-size: 1.4583333333vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 0.462962962vh;
        }

        .secondMainPara {
          color: var(--text-text-primary, #333);
          font-family: Rajdhani;
          font-size: 1.25vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      // left default content styles ends

      // left toggled content style begins

      .leftToggledContent {
        .brandLogo {
          width: 11.40625vw;
        }

        .profileIntroDiv {
          margin-top: 2.925925925vh;
          margin-bottom: 3vh;
          // above mb is an assumed value so use it with caution when will get the real value
          display: flex;
          justify-content: start;
          align-items: center;

          img {
            width: 2.9893229166vw;
            height: auto;
            border-radius: 5.2083333333vw;
          }

          p {
            color: var(--text-text-invert, #fffdfc);
            font-family: Rajdhani;
            font-size: 1.32859375vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
            margin-left: 1.0630208333vw;
          }
        }

        .memberPara {
          color: var(--text-text-invert, #fffdfc);
          font-family: Rajdhani;
          font-size: 0.7291666666vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          margin-bottom: 0.7vh;
        }

        .sessionPara {
          color: var(--text-text-invert, #fffdfc);
          font-family: Rajdhani;
          font-size: 1.4583333333vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }

        .timeDiv {
          display: flex;
          align-items: start;

          img {
            width: 1.041666666vw;
            height: auto;
          }

          .rightParaDiv {
            p {
              color: var(--text-text-invert, #fffdfc);
              font-family: Rajdhani;
              font-size: 0.8333333333vw;
              font-style: normal;
              line-height: normal;
            }
            .topPara {
              font-weight: 700;
            }

            .bottomPara {
              font-weight: 500;
            }
          }
        }
      }

      // left toggled content style ends

      //   toggler div begins
      .togglerDiv {
        position: absolute;
        top: 0;
        right: 0;
        width: 17.5vw;
        height: 11.0185185185vh;
        padding-top: 4.2592592592vh;
        background-color: #b2b2b2;
        transition: background-color 400ms linear;
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 0.74270833333vw;
        cursor: pointer;

        img {
          width: 1.60109375vw;
          height: auto;
          // the dimension could be go wild, will check
        }

        p {
          color: var(--text-text-primary, #333);
          font-family: Rajdhani;
          font-size: 1.4583333333vw;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 0;
        }

        &:hover {
          background-color: #f40009;
          transition: background-color 400ms linear;

          img {
            filter: invert(1);
          }

          p {
            color: #fffdff;
          }
        }
      }
      //   toggler div ends
    }
    // main left div ends

    // maind left div toggled begins
    .maindLeftDivToggled {
      background: rgba(0, 0, 0, 0.5);
      padding-top: 0;
    }

    // main left Div toggled ends

    // main right div begins
    .mainRightDiv {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    // main right div ends
  }

  .closeIcon {
    cursor: pointer;
    position: absolute;
    width: 2.8125vw;
    height: auto;
    top: -0.5555555555vh;
    right: -0.5208333333vw;
    z-index: 10;
  }
}
