.mainDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-inline: 10.9375vw;
  padding-top: 13.14814814vh;
  padding-bottom: 34.074074074vh;

  //   first div style begins
  .firstDiv {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;

    .firstLeftDiv {
      p:nth-child(1) {
        color: var(--text-text-invert, #fffdfc);
        font-family: Rajdhani;
        font-size: 1.9166666666vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
      }

      p:nth-child(2) {
        color: var(--text-text-invert, #fffdfc);
        font-family: Rajdhani;
        font-size: 1.19791666666vw;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 0;
      }
    }

    .firstRightDiv {
      display: flex;
      justify-content: space-between;
      align-items: center;

      //   quickstart container style begins
      .quickstartContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        .quickstartDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2.60416666vw;
          width: 8.0208333333vw;
          height: 4.351851851vh;
          cursor: pointer;
          margin-bottom: 1.759259259vh;

          img {
            width: 0.60234375vw;
            margin-right: 0.45364583333vw;
          }

          p {
            color: var(--text-text-invert, #fffdfc);
            font-family: Rajdhani;
            font-size: 1.19791666666vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
          }
        }

        .quickstartDivClicked {
          background: #fffdfc;

          p {
            color: #ffd700;
          }
        }

        .detailParaDefault {
          color: var(--text-text-invert, #fffdfc);
          font-family: Rajdhani;
          font-size: 0.72916666666vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 0;
          visibility: hidden;
          transform: translateY(2.9629629629vh);
        }

        .detailParaVisible {
          visibility: visible;
          transform: translateY(0);
          transition: transform 400ms ease-out;
        }
      }
      //   quickstart container style ends

      // complete container style begins
      .completeContainer {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        .completeDiv {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2.60416666vw;
          width: 8.0208333333vw;
          height: 4.351851851vh;
          cursor: pointer;
          margin-bottom: 1.759259259vh;

          p {
            color: var(--text-text-invert, #fffdfc);
            font-family: Rajdhani;
            font-size: 1.19791666666vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
          }
        }

        .completeDivClicked {
          background: #fffdfc;

          p {
            color: #ffd700;
          }
        }

        .detailParaDefault {
          color: var(--text-text-invert, #fffdfc);
          font-family: Rajdhani;
          font-size: 0.72916666666vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 0;
          visibility: hidden;
          transform: translateY(2.9629629629vh);
        }

        .detailParaVisible {
          visibility: visible;
          transform: translateY(0);
          transition: transform 400ms ease-out;
        }
      }

      // complete container style ends
    }
  }
  //  first div style ends

  // bottom div begins
  .bottomDiv {
    width: 100%;
    // second div input style begins
    .secondDiv {
      width: 100%;
      margin-bottom: 3vh;
      p {
        color: var(--surface-surface-invert, #fffdfc);
        font-family: Rajdhani;
        font-size: 1.25vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
      }

      input {
        background: transparent;
        width: 100%;
        border: none;
        border-bottom: 0.0925925925vh solid #fffdfc;
        color: #fffdfc;
        font-size: 1.25vw;

        &:focus {
          outline: none;
        }
      }
    }
    // second div input style ends

    // third div style begins
    .thirdDiv {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;

      .thirdLeftPara {
        color: var(--text-text-invert, #fffdfc);
        font-family: Rajdhani;
        font-size: 1.19791666666vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
        cursor: pointer;
      }

      .thirdRightDiv {
        cursor:pointer;
        .continueButtonDiv {
          width: 7.604166666vw;
          height: 4.351851851vh;
          background: #fffdfc;
          border-radius: 2.604166666vw;
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            color: var(--text-text-brand, #f40009);
            font-family: Rajdhani;
            font-size: 1.19791666666vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0;
          }

          img {
            width: 1.14234375vw;
            height: 1.160462962vh;
          }
        }
      }
    }

    // third div style ends
  }
  //   bottom div ends
}
