.mainDiv {
  .sidebar {
    
    height: 100vh;
    padding-top:15px;
    background-color: black;
  }

  .contentDiv {
    // padding-right:160px;
    // padding-top:39px;
    padding-right: 8.893vw;
    padding-left: 2.223vw;
    padding-top: 3.62vh;
    // padding-bottom: 7.1vh;
    background-image:linear-gradient( rgba(0,0,0,0.5) 100%, transparent), url("./assets/Map\ design\ Simple\ Without\ building-01.jpg");
    background-position: center;
    background-size: cover;
    // position:relative;
    // z-index:1;
    
  }


}
