.mainDiv {
  .sidebar {
    border: 1px solid black;
    height: 100vh;
    padding-top:15px;
    background-color: black;
  }

  .contentDiv {
    padding-right:95px;
    padding-top:10px;
    background-image: url("./assets/Map\ design\ Simple\ Without\ building-01.jpg");
    background-position: center;
    background-size: cover;
    position:relative;
    z-index:1;
    
  }

  .contentDiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity black */
    z-index: -1; /* Make sure the overlay is behind the content */
}
}
