

@mixin x-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin x-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin y-start-center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

@mixin y-start-start {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

@mixin grid-box-style{
   border:3px solid #fffdfc;
  border-radius: 2.6041666666vw;
  // border-radius:50px;
  // padding:15px;
}
